
   <div class="container">
      <div class="row">
      <% @artists.each do |artist| %>
         <div class="col-xs-3">
            <div class="thumbnail" id="index-images">
               <img src=<%= artist.image_url %> 
               
               <div class="caption">
                  <h4 class="text-center"><%= artist.name %></h4> 

                  <%= link_to "Ver más", artist , class:"btn btn-primary btn-block" %>
      
               </div>
            </div>
      <% end %>
         </div>
      </div>
   </div>

