#boton {
   display: block;
   text-align: center;
}

#index-images img {
   height: 200px;
   width: 100%;
}

#show-images img {
   height: 150px;
   width: 100%;
}

#ensayo .thumbnail {
   height: 240px;
}

#big-show-image {
   height: 300px;
}